@font-face{
    font-family: "Titillium Web";
    src: url(fonts/TitilliumWeb-Light.ttf);
    src: url(fonts/TitilliumWeb-Regular.ttf);
    src: url(fonts/TitilliumWeb-SemiBold.ttf);
    src: url(fonts/TitilliumWeb-Italic.ttf);
    src: url(fonts/TitilliumWeb-Bold.ttf);
    font-family: "Damion";
    src: url(fonts/Damion-Regular.ttf)
}
body{
    font-family: 'Titillium Web', sans-serif;
}
header{
    background-color: #87509c;
    height: 592px;
}
.wrapper{
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1170px;
    margin: auto;
    position: relative;
}
.center{
    text-align: center;
}
.navigation{
    display: flex;
    justify-content: space-between;
    padding-top: 4.5%;
    padding-bottom: 9%;
}
.nav{
    display: flex;
    list-style-type: none;
    padding-left: 0;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 0;
}
.nav_img{
    margin-left: 8.5%;
}
.nav>li {
    padding-left: 29px;
    margin-left: 23px;
    position: relative;
}
.nav>li:first-child{
    padding-left: 0;
    margin-left: 0;
}
.nav>li>a{
    text-decoration: none;
    color: white;
}
.nav>li>a:hover{
    background-color: #643a79;
    padding: 9% 20%;
    border-radius: 10%;
}
.title{
    color: white;
    text-align: center;
    padding-left: 3%;
    font-size: 42px;
    font-weight: 700;
    padding-bottom: 2.6%;
}
.button{
    background: #eb7d4b;
    padding: 2% 8.1%;
    color: white;
    border-style: none;
    font-size: 18px;
    margin-left: 39.5%;
    border-style: none;
    border-bottom: 5px solid #c86a43;
}
.button:hover {
    background: #17c2a4;
    border-bottom: 5px solid #14a58c; 
   } 
.body-services{
    background-color: #17c2a4;
    height: 747px;
}
.title-services{
    color: white;
    font-weight: 700;
    font-size: 40px;
    padding-left: 0px;
    padding-top: 0px;
    margin-left: 370px;
    margin-top: 110px;
    letter-spacing: 0.1em;
    position: absolute;
}
.lineOne{
    width: 87px;
    height: 3px;
    background: #14a58c;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 15px;
}
.text-services{
    position: absolute;
    display: flex;
    font-size: 18px;
    color: white;
    margin-top: 15.9%;
    margin-left: 25.4%;
    word-spacing: 0.14em;
    line-height: 1.4;
    text-align: center;
}
.icons-services{
    display: flex;
    padding-top: 27%;
    color: white;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
}
.flag-img{
    padding-left: 18%;
    padding-top: 2%;
}
.pencil-img{
    padding-left: 15%;
}
.gayka-img{
    padding-left: 7%;
    padding-top: 3%;
}
.rocket-img{
    padding-right: 4%;
    padding-top: 1%;
}
.flag-h1{
    padding-top: 12%;
    text-align: center;
    padding-left: 13%;
    letter-spacing: 0.02em;
}
.pencil-h1{
    padding-top: 15%;
    padding-left: 11%;
}
.gayka-h1{
    padding-top: 11%;
    padding-left: 8%;
}
.rocket-h1{
    padding-top: 12%;
    padding-right: 2%;
    letter-spacing: 0.03em;
}
.services-p1{
    font-size: 16px;
    padding-top: 1%;
    line-height: 1.5em;
    padding-left: 27%;
    padding-right: 13%;
}
.services-p2{
    font-size: 16px;
    padding-top: 1%;
    line-height: 1.5em;
    padding-left: 19%;
    padding-right: 6%;
}
.services-p3{
    font-size: 16px;
    text-align: start;
    padding-top: 1%;
    line-height: 1.5em;
    padding-left: 25%;
    padding-right: 20%;
}
.services-p4{
    font-size: 16px;
    padding-top: 1%;
    line-height: 1.5em;
    padding-left: 8%;
    padding-right: 5%;
}
.body-team{
    background-color:#e7f1f8;
    height: 915px;
}
.team{
    display: flex;
    padding-top: 20%;
    margin-left: 3.5%;
}
.first-team{

}
.second-team{

}
.third-team{

}
.fouth-team{

}
.team-header{
    padding-top: 0.8%;
    padding-bottom: 50px;
}
.team-img1{
    border-radius: 100%;
    padding: 36%;
    background: #878787;
    margin-left: 16%;
}
.team-img2{
    border-radius: 100%;
    padding: 36%;
    background: #878787;
    margin-left: 17%;
    padding-top: 38%;
}
.team-img3{
    border-radius: 100%;
    padding: 33.2%;
    background: #878787;
    margin-left: 16%;
}
.team-img4{
    border-radius: 100%;
    padding: 37.6%;
    background: #878787;
    margin-left: 10%;
}
.title-team{
    color: #3c4761;
    font-weight: 700;
    font-size: 40px;
    padding-left: 0px;
    padding-top: 0px;
    margin-left: 26%;
    margin-top: 8.5%;
    letter-spacing: 0.1em;
    position: absolute;
}
.text-team{
    position: absolute;
    font-size: 18px;
    color: #3c4761;
    margin-top: 15.6%;
    margin-left: 23.7%;
    word-spacing: 0.1em;
}
.team-name{
    color: #3c4761;
    font-size: 23px;
    text-align: center;
    padding-top: 7%;
    letter-spacing: 0.04em;
    padding-left: 2%;
    margin-bottom: auto;
    padding-bottom: 2%;
}
.team-position1{
    color: #55c2e9;
    font-weight: 500;
    margin-top: 0px;
    text-align: center;
    letter-spacing: 0.04em;
    padding-left: 5%;
}
.team-position2{
    color: #55c2e9;
    font-weight: 500;
    margin-top: 0px;
    text-align: center;
    letter-spacing: 0.04em;
    padding-left: 5%;
}
.team-position3{
    color: #55c2e9;
    font-weight: 500;
    margin-top: 0px;
    text-align: center;
    padding-right: 2%;
}
.team-position4{
    color: #55c2e9;
    font-weight: 500;
    margin-top: 0px;
    text-align: center;
    padding-right: 3%;
    letter-spacing: 0.02em;
    padding-top: 1%;
}
.team-about{
    text-align: center;
    color: #4d586f;
    font-size: 17px;
    padding-left: 10%;
    padding-top: 2%;
    line-height: 145%;
}
.skills-graph{
    display: flex;
    padding-top: 63px;
}
.body-skills{
    background-color:white;
    height: 550px;
}
.title-skills{
    color:#3c4761;
    text-align: center;
    text-transform: uppercase;
}
.text-skills{
    color: #3c4761;
    text-align: center;
    margin-left: 30px;
    font-weight: 400;
    font-size: 18px;
    white-space: pre
}
.title-skills{
    color: #3c4761;
    text-align: center;
    text-transform: uppercase;
    margin-top: 105px;
    font-size: 42px;
    font-weight: 700;
    margin-left: 50px;
    letter-spacing: 0.08em;
    padding-bottom: 11px;
}
.circle-first{
    padding-right: 87px;
    margin-left: 85px;
}
.circle-second{
    padding-right: 100px;
}
.cicle-third{
    padding-right: 95px;
}
.circle-fouth{
    padding-right: 87px;
    margin-top: -6px
}
.circle-text-first{
    color: #3c4761;
    font-size: 24px;
    padding-top: 4px;
    margin-left: 31px;
}
.circle-text-second{
    color: #3c4761;
    font-size: 24px;
    padding-top: 4px;
    margin-left: 31px; 
}
.circle-text-third{
    color: #3c4761;
    font-size: 24px;
    padding-top: 4px;
}
.circle-text-fouth{
    color: #3c4761;
    font-size: 24px;
    padding-top: 4px;
    margin-left: 31px; 
}
.body-portfolio{
    height: 1230px;
    background-color:#ffdd99;
    padding-top: 80px;
    padding-bottom: 110px;
    text-align: center;
}
.title-portfolio{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 41px;
    letter-spacing: 0.1em;
}
.text-portfolio{
    padding-top: 10px;
    white-space: pre;
    font-size: 1.1em;
    margin-bottom: 5px;
    display: block;
    margin-top: 5px;
    font-weight: 400;
}
.menu{
    list-style-type: none;
    display: flex;
    margin-left: 350px;
    padding-top: 35px;
}
.menu>li{
    padding: 2px 14px;
}
.menu>li>button{
    background: #ebc985;
    padding: 2px 14px;
    margin-right: 5px;
    color: #111;
    text-transform: uppercase;
    border-radius: 4px;
    border: none;
    line-height: 1.5em;
}
.notebook-portfolio{
    padding-top: 35px;
}
.notebooks{
    position: relative;
    overflow: hidden;
    height: 850px;
    list-style: none;
}
.n-first{
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translate3d(30px, 0px, 0px);
}
.n-second{
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translate3d(590px, 0px, 0px);
}
.n-third{
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translate3d(30px, 420px, 0px);
}
.n-fouth{
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translate3d(590px, 420px, 0px)
}
.title-notebook{
    font-size: 1.2em;
    font-weight: 400;
    color: #222;
    line-height: 25px;
    padding-top: 8px;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.button-portfolio{
    border-style: none;
    padding:18px 95px;
    background: #17c2a4;
    border-bottom: 5px solid #14a58c;
    color: white;
}
.body-about{
    height: 820px;
    background-color: #d74680;
    padding-top: 80px;
    color:white;
    
}
.title-about{
    font-size: 45px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px
}
.text-about{
    text-align: center;
    padding-bottom: 50px;
}
.about{
    display: grid;
    grid-template: 50% 50% / 50% 50%;
}
.about-item{
    display: flex;
    justify-content: flex-start;
    align-items:center;
}
.about_img{
    background: #787878;
    padding: 10px;
    border-radius: 50%;
    margin-right: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.about_text{
    flex-basis: calc(100% - 120px);
}
.about h3{
    font-size: 18px;
    font-weight: 600;
}
.about p {
    font-size: 14px;
    color: #facd96;
    font-style: italic;
}
.about_text>span{
    line-height: 27px;
    font-size: 1.2em;
    font-weight: 300;
}
.footer-message{
    background-color:#3c5499;
    height: 750px;
    color:white;
    padding-top: 84px;
}
.title-message{
    text-align: center;
    font-size: 40px;
    margin-right: 100px;
    letter-spacing: 4px;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.text-message{
    font-size: 18px;
    margin-left: 140px;
    letter-spacing: 0.4px;
}
.form-touch{
    max-width: 970px;
    margin: 0 auto;
    padding-top: 58px;
    padding-bottom: 0;
}
.name-form{
    padding-bottom: 25px;
}
.form-control1{
    background: #273a71;
    border: 0;
    color: white;
    height: 55px;
    width: 410px;
}
.form-control2{
    background: #273a71;
    border: 0;
    color: white;
    margin-left: 30px;
    height: 55px;
    width: 410px;
}
.form-control3{
    background: #273a71;
    border: 0;
    color: white;
    width: 860px;
    height: 200px;
}
.message-form{
    padding-bottom: 60px;
}
.form-button{
    background: #32bae7;
    font-weight: 700;
    border-bottom: 5px solid #c86a43;
    padding: 24px 90px;
    color: white;
    font-size: 18px;
    margin-left: 285px;
    border-style: none;
}
.footer{
    background: #344b8e;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #4C68B9;
    text-align: center;
}
.footer>ul{
    list-style-type: none;
}
.footer>ul>li{
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    color:white;
}
.footer>ul>li>a{
    color:white;
    text-decoration: none;
}