@font-face{
    font-family: "Titillium Web";
    src: url(fonts/TitilliumWeb-Light.ttf);
    src: url(fonts/TitilliumWeb-Regular.ttf);
    src: url(fonts/TitilliumWeb-SemiBold.ttf);
    src: url(fonts/TitilliumWeb-Italic.ttf);
    src: url(fonts/TitilliumWeb-Bold.ttf);
    font-family: "Damion";
    src: url(fonts/Damion-Regular.ttf)
}
body{
    font-family: 'Titillium Web', sans-serif;
}
header{
    background-color: #87509c;
    height: 596px;
}
.wrapper{
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1170px;
    margin: auto;
    position: relative;
}
.center{
    text-align: center;
}
.navigation{
    display: flex;
    justify-content: space-between;
    padding-top: 58px;
    padding-bottom: 40px;
}
.nav{
    display: flex;
    list-style-type: none;
    padding-left: 0;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 0;
}
.nav_img{
    margin-left: 40px;
}
.nav>li {
    padding-left: 29px;
    margin-left: 23px;
    position: relative;
}
.nav>li:first-child{
    padding-left: 0;
    margin-left: 0;
}
.nav>li:first-child::before{
    display:none;
}
.nav>li>a{
    text-decoration: none;
    color: white;
}
.title{
    color:white;
    padding-left: 0px;
    padding-top: 20px;
    font-size: 42px;
    font-weight: 700;
    white-space: pre;
    text-transform: uppercase;
}
.button{
    background: #eb7d4b;
    padding: 18px 105px;
    color:white;
    border-style: none;
    font-size: 18px;
    margin-left: 400px;
    border-style: none;
    border-bottom: 5px solid #c86a43;
}
.body-services{
    background-color: #17c2a4;
    height: 747px;
}
.title-services{
    color: white;
    font-weight: 700;
    font-size: 40px;
    padding-left: 0px;
    padding-top: 0px;
    margin-left: 370px;
    margin-top: 110px;
    letter-spacing: 0.1em;
    position: absolute;
}
.lineOne{
    width: 87px;
    height: 3px;
    background: #14a58c;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 15px;
}
.text-services{
    position: absolute;
    display: flex;
    font-size: 18px;
    color: white;
    margin-top: 190px;
    margin-left: 310px;
    white-space: pre;
    word-spacing: 0.14em;
    line-height: 1.3;
}
.icons-services{
    display: flex;
    padding-top: 325px;
    color:white;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
}
.flag{
    margin-right: 170px;
    padding-left: 80px;
}
.pencil{
    margin-right: 150px;
}
.gayka{
    margin-right: 150px;
}
.services-p{
    font-size: 16px;
    padding-top: 40px;
}
.body-team{
    background-color:#e7f1f8;
    height: 915px;
}
.team{
    display: flex;
    padding-top: 250px;
    margin-left: 50px;
}
.first-team{
    padding-right: 100px;
}
.second-team{
    padding-right: 100px;
}
.third-team{
    padding-right: 100px;
}
.fouth-team{
    padding-right: 100px;
}
.team-header{
    padding-top: 10px;
    padding-bottom: 50px;
}
.team-img{
    border-radius: 100%;
    padding: 10px;
    background: #696969;
    margin-left: 25px;
}
.title-team{
    color: #3c4761;
    font-weight: 700;
    font-size: 40px;
    padding-left: 0px;
    padding-top: 0px;
    margin-left: 320px;
    margin-top: 100px;
    letter-spacing: 0.1em;
    position: absolute;
}
.text-team{
    position: absolute;
    display: flex;
    font-size: 18px;
    color: #3c4761;
    margin-top: 185px;
    margin-left: 290px;
    white-space: pre;
    word-spacing: 0.1em;
    line-height: 1.3;
}
.team-name{
    color:#3c4761;
    font-size: 22px;
    text-align: center;
}
.team-position{
    color:#55c2e9;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
.team-about{
    text-align: center;
    color:#4d586f;
    font-size: 18px;
}
.skills-graph{
    display: flex;
    padding-top: 63px;
}
.body-skills{
    background-color:white;
    height: 550px;
}
.title-skills{
    color:#3c4761;
    text-align: center;
    text-transform: uppercase;
}
.text-skills{
    color: #3c4761;
    text-align: center;
    margin-left: 30px;
    font-weight: 400;
    font-size: 18px;
    white-space: pre
}
.title-skills{
    color: #3c4761;
    text-align: center;
    text-transform: uppercase;
    margin-top: 105px;
    font-size: 42px;
    font-weight: 700;
    margin-left: 50px;
    letter-spacing: 0.08em;
    padding-bottom: 11px;
}
.circle-first{
    padding-right: 87px;
    margin-left: 85px;
}
.circle-second{
    padding-right: 100px;
}
.cicle-third{
    padding-right: 95px;
}
.circle-fouth{
    padding-right: 87px;
    margin-top: -6px
}
.circle-text-first{
    color: #3c4761;
    font-size: 24px;
    padding-top: 4px;
    margin-left: 31px;
}
.circle-text-second{
    color: #3c4761;
    font-size: 24px;
    padding-top: 4px;
    margin-left: 31px; 
}
.circle-text-third{
    color: #3c4761;
    font-size: 24px;
    padding-top: 4px;
}
.circle-text-fouth{
    color: #3c4761;
    font-size: 24px;
    padding-top: 4px;
    margin-left: 31px; 
}
.body-portfolio{
    height: 1230px;
    background-color:#ffdd99;
    padding-top: 80px;
    padding-bottom: 110px;
    text-align: center;
}
.title-portfolio{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 41px;
    letter-spacing: 0.1em;
}
.text-portfolio{
    padding-top: 10px;
    white-space: pre;
    font-size: 1.1em;
    margin-bottom: 5px;
    display: block;
    margin-top: 5px;
    font-weight: 400;
}
.menu{
    list-style-type: none;
    display: flex;
    margin-left: 350px;
    padding-top: 35px;
}
.menu>li{
    padding: 2px 14px;
}
.menu>li>button{
    background: #ebc985;
    padding: 2px 14px;
    margin-right: 5px;
    color: #111;
    text-transform: uppercase;
    border-radius: 4px;
    border: none;
    line-height: 1.5em;
}
.notebook-portfolio{
    padding-top: 35px;
}
.notebooks{
    position: relative;
    overflow: hidden;
    height: 850px;
    list-style: none;
}
.n-first{
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translate3d(30px, 0px, 0px);
}
.n-second{
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translate3d(590px, 0px, 0px);
}
.n-third{
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translate3d(30px, 420px, 0px);
}
.n-fouth{
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translate3d(590px, 420px, 0px)
}
.title-notebook{
    font-size: 1.2em;
    font-weight: 400;
    color: #222;
    line-height: 25px;
    padding-top: 8px;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.button-portfolio{
    border-style: none;
    padding:18px 95px;
    background: #17c2a4;
    border-bottom: 5px solid #14a58c;
    color: white;
}
.body-about{
    height: 895px;
    background-color: #d74680;
    padding-top: 80px;
    color:white;
    
}
.title-about{
    font-size: 45px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px
}
.text-about{
    text-align: center;
    padding-bottom: 50px;
}
.about{
    display: grid;
    grid-template: 50% 50% / 50% 50%;
}
.about-item{
    display: flex;
    justify-content: flex-start;
    align-items:center;
}
.about_img{
    background: #787878;
    padding: 10px;
    border-radius: 50%;
    margin-right: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.about_text{
    flex-basis: calc(100% - 120px);
}
.about h3{
    font-size: 18px;
    font-weight: 600;
}
.about p {
    font-size: 14px;
    color: #facd96;
    font-style: italic;
}
.about_text>span{
    line-height: 27px;
    font-size: 1.2em;
    font-weight: 300;
}